* {
    box-sizing: border-box;
}

body {
    background-color: #f6f6fe;
    height: 800px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 15px;
    color: #6d708d;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}


/*background: rgb(105,111,221);
background: radial-gradient(circle, rgba(105,111,221,1) 0%, rgba(33,44,202,1) 96%);*/

.pricing {
    position: relative;
    padding: 5.2% 0 7%;
    &-title {
        font-weight: 700;
        font-size: 2rem;
    }
    &::before {
        content: "";
        background-image: url(../images/bg-top.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        width: 368px;
        height: 660px;
        z-index: -1;
    }
    &::after {
        content: "";
        background-image: url(../images/bg-bottom.svg);
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 360px;
        height: 305px;
        z-index: -1;
    }
}

// Switch button
.toggle-btn {
    padding: 3.5% 0;
    &__text {
        margin: 0 2%;
        color: #b3b5c6;
        display: inline-block;
    }
    &__switch {
        position: relative;
        display: inline-block;
        width: 56px;
        height: 32px;
        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        &--circle {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
            transition: 0.4s;
            border-radius: 20px;
            &::before {
                position: absolute;
                content: "";
                height: 24px;
                width: 24px;
                border-radius: 100%;
                left: 4px;
                top: 50%;
                transform: translateY(-50%);
                background-color: #fff;
                transition: 0.4s;
            }
        }
        input:checked+&--circle::before {
            transform: translate(24px, -50%);
        }
        input:checked+.toggle-btn__switch--circle {
            background: #c5c8f5;
        }
    }
}

// Card
.pricing-section {
    margin-top: 15px;
}

.row {
    justify-content: space-around;
    margin: 0;
}

.pricing-card {
    height: 454px;
    max-width: 350px;
    margin-top: 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    &--active {
        height: 500px;
        margin-top: 0;
        background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
        color: #fff;
    }
}

.card-header {
    background-color: #fff;
    border: none;
    padding: 30px 20px 0;
    font-size: 1.2rem;
    &--active {
        background-color: transparent;
    }
}

.card-body {
    padding: 13px 20px 0;
}

.card-title {
    &--monthly {
        display: none;
    }
    &--active {
        color: #fff;
    }
}

.card-title {
    font-size: 4rem;
    position: relative;
    color: #494C5F;
    &--sm {
        position: absolute;
        font-size: 2.2rem;
        top: 50%;
        transform: translateY(-50%);
    }
    &--annual .card-title--sm {
        left: 5%;
    }
    &--monthly .card-title--sm {
        left: 10%;
    }
    &--active {
        color: #fff;
    }
}

.list-group-item {
    padding: 17px 20px;
    &--active {
        background-color: transparent;
        border-color: #9fa5f9;
    }
}

// Link button
.btn {
    background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: 1px solid transparent;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    padding: 16px 20px;
    outline: none;
    margin-top: 10%;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 14px;
    transition: 1s;
    outline: none;
    &:hover {
        background: transparent;
        border: 1px solid #777aaf;
        color: #7277d2;
    }
    &--active {
        background: none;
        background-color: #fff;
        color: #7378e0;
        margin-top: 19%;
        &:hover {
            color: #fff;
            border-color: #fff;
        }
    }
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.col-lg-4 {
    padding: 0;
    max-width: 350px;
}

.attribution {
    margin-top: 10%;
    a {
        color: #7277d2;
    }
}

@import 'media.scss';